@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nunito:wght@800&display=swap');


:root {
  --blue: #0096c7;
  --gray: #b1b1b1;
  --black: #011627;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*min-width: 500px;*/
  /*background-image: url("../sources/background/love-to-learn-cutted.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  margin: auto;
  max-width: 2000px;

  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

.navbar__menu {
  position: relative;
}

.navbar__menu li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}

.navbar__menu a {
  font-family: 'Alata', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--gray);
  text-decoration: none;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.navbar__menu a:hover {
  color: var(--blue);
}

.navbar__logo {
  background-color: inherit;
  width: auto;
  height: auto;
}

.navbar__logo img {
  /*min-height: 52.5px;*/
  height: 100%;
  width: auto;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.header {
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header__bg {
  /*background-image: url("../sources/background/love-to-learn-cutted.jpg");*/

  /*background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;*/
  /*background-size: auto auto;*/

  background-color: rgb(0,150,199,0.75);

  /*color: var(--blue);*/

  /*opacity: 0.8;*/
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 2000px;
  height: auto;
  padding: 50px 10%;
  padding-top: 100px;
  padding-bottom: 75px;
  margin: auto;
}

.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.header__avatar img {
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);

  padding: 15px;

  width: 75%;
  height: auto;
}

.header__text {
  position: relative;

  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  color: var(--black);

  width: 50%;

  padding: 15px;

  background-color: rgb(255,255,255,0.75);
  border-radius: 7.5px;
}

.header__text__buttoncontainer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  
  width: 100%;

  padding-bottom: 0.5rem;
  /*text-align: center;
  text-decoration: none;*/

  /*padding: 0.5rem;*/
  /*border: none;
  border-radius: 15px;
  background-color: white;*/
  /*visibility: hidden;*/
}

.header__text__expand {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  color: var(--black);
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 25px;
  background-color: rgb(255,255,255,0.9);

  padding: 0.5rem;

  margin: auto;
  visibility: hidden;
}

.header__text__expand:hover {
  font-weight: bold;
}

#maths_tuition {
  scroll-margin-top: 100px;
}

.maths_tuition {
  right: 0;
  left: 0;
  width: 100%;
  height: auto;

  /*background-color: rgb(0,150,199,0.5);*/
}

.maths_tuition__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  max-width: 2000px;
  height: auto;
  
  padding: 4rem 10%;
  margin: auto;
}

.maths_tuition__title {
  padding: 1rem;

  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: var(--black);

  text-transform: uppercase;
}

.maths_tuition__intro {
  padding: 1rem;

  /*font-family: 'Alata', sans-serif;*/
  font-family: 'Architects Daughter', sans-serif;
  font-size: 1.2rem;
  color: var(--black);

  /*background-color: rgb(255,255,255,0.5);*/
  /*background-color: rgb(0,0,0,0.1);
  border-radius: 7.5px;*/
}

.maths_tuition__pricing {
  padding: 1rem;
  margin: 2rem;

  background-color: rgb(0,0,0,0.1);
  border-radius: 7.5px;

  font-family: 'Alata', sans-serif;
}

.maths_tuition__pricing__title {
  position: relative;
  padding: 1rem;

  font-size: 3rem;
  font-weight: bold;

  text-align: center;
}

.maths_tuition__pricing__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
  padding: 1rem;

  /*max-width: 2000px;
  height: auto;
  
  padding: 4rem 10%;
  margin: auto;*/
}

.maths_tuition__pricing__offer {
  background-color: rgb(0,150,199,0.75);
  border-radius: 7.5px;

  height: 10rem;
  width: 15rem;

  margin: 2rem;

  position: relative;

}

.maths_tuition__pricing__offer img {
  width: 100%;
  height: 100%;
  border-radius: 7.5px;

  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  opacity: 0.75;
}

.maths_tuition__pricing__offer:hover > img {
  opacity: 0.05;
}

.maths_tuition__pricing__offer:hover > .maths_tuition__pricing__offer__text {
  opacity: 0;
}

.maths_tuition__pricing__offer img:hover {
  /*opacity: 0.1;*/
}

.maths_tuition__pricing__offer__text { 
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  color: #1d3557;
  /*font-weight: bold;*/
  text-align: center;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.pricing {
  right: 0;
  left: 0;
  width: 100%;
  height: auto;

  background-color: rgb(0,150,199,0.75);

  /*max-width: 2000px;*/
  height: auto;
  
  padding: 4rem 10%;
  margin: auto;
}

.pricing__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem;

  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: var(--black);

  text-transform: uppercase;
}

.pricing__offer__title {
  position: relative;
  padding: 1rem;

  font-family: 'Alata', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}

.pricing__container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: center;*/

  max-width: 2000px;
  height: auto;
  
  padding: 2rem 10%;
  margin: auto;
}

.pricing__offer {
  position: relative;

  display: block;
  text-align: center;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/

  /*background-color: rgb(0,150,199,0.75);*/
  border-radius: 50%; /*7.5px;*/

  height: auto;
  width: 20rem;

  margin-left: 5rem;
  margin-right: 5rem;
}

.pricing__offer img {
  position: relative;
  top: 0px;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;

  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  /*opacity: 0.75;*/
}

.pricing__offer__text {
  position: relative;
  padding-top: 2rem;
  top: 0px;
}

.pricing__offer__text__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  
  /*height: auto;*/
  
  /*padding: 4rem 10%;*/
  padding: 1rem;
  /*margin: auto;*/

  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}

.pricing__offer__text__description {
  font-family: 'Architects Daughter', sans-serif;
  font-size: 1.2rem;
  color: var(--black);
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.temp {
  z-index: 100;
  height: 100%;
  padding: 15px 10%;

  /*background-color: rgb(0,150,199,0.5);*/
}

@media (max-width: 899.98px) {
  .navbar__menu {
    visibility: hidden;
  }

  .navbar__menu a {
    font-size: 0px;
  }

  .header__text {
    width: 100%;
    height: 10rem;
    overflow: hidden;
  }

  .header__text__expand {
    visibility: visible;
  }

  .header__avatar img {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .navbar__menu {
    visibility: visible;
  }

  .navbar__menu a {
    font-size: 20px;
  }

  .header__text {
    width: 50%;
  }

  .header__text__expand {
    visibility: hidden;
  }

  .header__avatar img {
    width: 85%;
  }
}

.bg-primary {
  background-color: #2c3e50 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}