@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// Set Poppins as default font
$family-sans-serif: 'Poppins', sans-serif;
// Set container max width
// $container-max-width: 1024px;

@import "../../node_modules/bulma/bulma.sass";

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

.has-text-centered {
    text-align: center;
}