@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

@import "../../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css";

:root {
    /* --primary: #3298dc; */
    --background_primary: #475F92;
    --background_nav: #003871;
    --white: #ffffff;
}