:root {}

/* .column .box {
    min-height: 15rem;
} */

.is-min-height-15 {
    min-height: 15rem;
}

h1 .title {
    color: black!important;
}

.is-title-large {
    font-size: 3.5rem!important;
}

.subtitle {
    color: black!important;
}

.box div {
    padding: 0.5rem;
}

.column a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .is-desktop-400px {
        width: 400px;
    }
}

.container .columns {
    margin: 2rem 0 2rem 0;
}

div .container:first-of-type {
    margin-top: 2rem;
}

.box div {
    padding: 0.25rem;
}