@charset "utf-8";

// Montserrat Font import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
// Setting Montserrat as default font
$family-sans-serif: 'Montserrat', sans-serif;

// Setting custom colors
$dark-blue: #003871;
$dark-blue-half-opacity: rgba( $dark-blue, .85 );
$dark-gray: #A6ABBD;

$primary: transparent;

$navbar-item-color: white;
// Mobile dropdown bg
$navbar-background-color: $dark-blue-half-opacity;

// Dropdown items mobile
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $dark-blue;
$navbar-dropdown-item-hover-background-color: $dark-blue;

// Dropdown items desktop
$navbar-dropdown-background-color: $dark-blue-half-opacity;
$navbar-dropdown-item-hover-color: white;

@import "../../node_modules/bulma/bulma.sass";

// Bulma divider
@import "../../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css";

$breakpoint-tablet: 1024px;

.header {
    background: url(../img/bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    width: 100%;
    min-height: 1024px;
}

h1.title {
//    font-size: 3.5rem;
    line-height: 1.5 !important;
}

.title, .subtitle {
    text-shadow: 1px 1px 2px rgb(150, 150, 150);
}

.hr-short-centered {
    background-color: white;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem auto;
    width: 2.5rem;
}

@media screen and (max-width: $breakpoint-tablet) {
    &.navbar-brand {
        background-color: $dark-blue-half-opacity;
    }

    .navbar-menu.is-active {
        display: block;
        position: absolute;
        width: inherit;
    }
}

@media screen and (max-width: 768px), print {
    .button.is-fullwidth-mobile {
        margin-right: 0rem !important;
    }
}